rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(){return request.auth!=null && request.auth.uid=="uqAZqxwN1wTQSlo2HODMmvHv1nj2";}
    match /analytics_events/{id}{allow read,create,update,delete:if isOwner();}
    match /{document=**}{allow read,write:if isOwner();}
  }
}
